.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}


.grid-productos {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columnas */
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-items: center;
}


main {
  flex: 1;               /* empuja el footer abajo */
  padding: 24px;
}

/* Estilos para el contador de cantidad de productos*/

.contador { 
  display: flex;
  align-items: center;   /* centra vertical */
  justify-content: center;
  gap: 10px;             /* espacio entre botones */
  margin-top: 10px;
}

.contador button {
  width: 32px;
  height: 32px;
  font-size: 18px;
}

.cantidad {
  min-width: 20px;
  text-align: center;
  font-weight: bold;
}
